@model PagedList.IPagedList<ParseLogFile.Models.ViewsModels.ListIP>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<br/>
@using (Html.BeginForm())
{
    <p>
        Find by IP or name company or nomination network : @Html.TextBox("Search", ViewBag.CurrentFilter as string)
        <input type="submit" value="search" />
    </p>
}

<br />


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("IP", "IpAddress", new { sortOrder = ViewBag.IPSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        @*<th>
                IP
            </th>*@
        <th>
            @Html.ActionLink("Company", "IpAddress", new { sortOrder = ViewBag.CompanySortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        @*<th>
                Company
            </th>*@
        <th>
            @Html.ActionLink("Nomination network", "IpAddress", new { sortOrder = ViewBag.NetworkSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        @*<th>
                Nomination network
            </th>*@
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NominationNetwork)
                </td>
            </tr>
        }
    }
</table>

<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("IpAddress",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>